// Define variables for your color scheme

// For example:
$red: #FD1015;
$white: #ffffff;
$yellow: #FFC65A;
$orange: #e6a064;
$green: #467a60;
$gray: #0E0000;
$light-gray: rgb(216, 216, 216);
$maroon: rgb(66, 56, 56);
$light-white: rgb(255, 255, 255);
$dark-maroon: rgb(94, 72, 72);
$light-maroon: rgb(107, 91, 91);
