<div class="container bigger-container">
  <div class="d-flex justify-content-center align-items-center my-4">
    <h1>Update a cocktail</h1>
  </div>

  <%= render partial: "components/form" %>
</div>