<div class="container bigger-container">
  <div class="d-flex justify-content-center align-items-center my-4">
    <h1>Cocktails</h1>
  </div>

  <div class="container">
    <div class="parent-home m-4">
      <% @cocktails.each do |tail| %>
        <%= link_to cocktail_path(tail) do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(<%= image_url(tail.image_url) %>)">
            <%= tail.name %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>