<div class="banner banner-home" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://res.cloudinary.com/dc1w9349i/image/upload/v1613738951/mister-cocktail/bartender_pfyann.jpg);">
  <div class="container">
    <h1>Welcome to Spicybrew</h1>
    <p>Change your life and learn to make some of the nicest cocktails out there.</p>
    <a class="btn btn-outline-primary w-25" href="/cocktails">Cocktail List</a>
  </div>
</div>

<div class="d-flex justify-content-center align-items-center my-4">
  <h1>Featured Cocktails</h1>
</div>

<div class="container">
  <div class="parent-home m-4">
    <% @cocktails_sample.each do |tail| %>
      <%= link_to cocktail_path(tail) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('<%= cl_image_path tail.photo.key %>')">
          <%= tail.name %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

